*{
margin:0;
padding:0;
box-sizing:border-box;
}
body {
font-family:sans-serif;
font-weight:400;
line-height:1.5;
font-size:1rem;
}
a,a:hover {
 text-decoration:none;
}
img {
 width:100%;
}
button {
 display:inline-block;
 outline:none;
 border:none;
 padding:10px 30px;
 font-size:16px;
 background:#f33447;
 color:#fff;
 border-radius:2px;
 font-weight:bold;
}
.fixed {
 position:fixed;
 top:0;
 left:0;
 bottom:0;
 height:100vh;
 width:100%;
 z-index:7;
 background:#000;
 color:#fff;
 display:grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: repeat(6,1fr)
}
.fixed.hide {
 background:none;
}
.article {
 position:absolute;
 top:70%;
 left:0;
 text-align:center;
 width:100%;
}
.article h1 {
 display:inline-block;
 background:#f33449;
 padding:7px 30px;
 animation:color 1s linear infinite;
}

.article h2 {
  margin-bottom:10px;
  font-size:2rem;
}

@keyframes color {
 to {
  color:#f33449;
 }
}
.article button {
 display:none;
}
.article.load h1 {
 display:none;
}
.article.load button {
 display:inline-block;
}
.fixed.hide .article {
 display:none;
}
.fixed div {
 background:url("https://mobcup.net/images/wt/1297fbdd9633d4f48f52b35292aaaea1.jpg");
 background-attachment:fixed;
 background-size:cover;
 background-position: center center;
 transition:all 0.5s;
 transition-delay:var(--i);
}
.fixed.hide div {
 transform:rotateY(90deg);
 opacity:0;
}
.sec1 {
 position:relative;
 min-height:100vh;
 width:100%;
 background:url("https://mobcup.net/d/l2nysz2n");
 background:url("https://mobcup.net/images/wt/5eb175306a64da68dad2f4e85040c5b5.jpg");
 background-color:#fdd;
 background-size:cover;
 background-position: center;
 background-attachment:fixed;
 overflow:hidden;
}
.fog1 {
 position:absolute;
 bottom:-20px;
 left:0;
 width:100%;
 z-index:3;
 display:flex;
 overflow:visible;
 animation:scroll 30s linear infinite;
}
.fog1 img {
 min-width:100%;
}
@keyframes scroll{
 0%{
  transform:translateX(0%);
 }
 100%{
  transform:translateX(-100%);
 }
}
.snow {
 position:absolute;
 top:0;
 left:0;
 z-index:4;
}
.snow img {
 height:100vh;
}
 .heart {
  height:30px;
  width:30px;
  background:#fff;
  position:absolute;
  z-index:4;
  background:#f00;
  opacity:0.7;
  transform:rotate(45deg);
  animation:moving 1s linear infinite;
 }
 .heart::before,
 .heart::after{
  position:absolute;
  content:"";
  height:100%;
  width:100%;
  border-radius:50%;
  background: inherit;
  top:0;
 }
 .heart::before{
   left:-50%;
 }
 .heart::after{
   top:-50%;
 }
 @keyframes moving{
 0%{
 transform:rotate(45deg) translate(0,0);
 }
 70%{
  opacity:1;
 }
 100%{
 transform:rotate(45deg) translate(-100px,-300px);
 opacity:0;
 }
}
